.about-me {
    background-color: $color-white;
    color: $navy-blue;
    &-technology {
        &-item {
            height: 8rem;
            padding: 2rem;
        }
    }
    &-description {
        @include respond(tab-land) {
            padding: 0 6rem;
        }
    }
}


