@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}


@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media(max-width: 37.5rem) {
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media(max-width: 56.25rem) {
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media(max-width: 74.25rem) {
            @content;
        }
    }
    @if $breakpoint == big-deskt {
        @media(min-width: 112.5rem) {
            @content;
        }
    }
};

@mixin gridSize($size) {
    .col-1-#{$size} {
        width: 8.33%; 
    }
    
    .col-2-#{$size} {
        width: 16.66%; 
    }
    
    .col-3-#{$size} {
        width: 25%; 
    }
    
    .col-4-#{$size} {
        width: 33.33%; 
    }
    
    .col-5-#{$size} {
        width: 41.66%; 
    }
    
    .col-6-#{$size} {
        width: 50%; 
    }
    
    .col-7-#{$size} {
        width: 58.33%; 
    }
    
    .col-8-#{$size} {
        width: 66.66%; 
    }
    
    .col-9-#{$size} {
        width: 75%; 
    }
    
    .col-10-#{$size} {
        width: 83.33%; 
    }
    
    .col-11-#{$size} {
        width: 91.66%; 
    }
    
    .col-12-#{$size} {
        width: 100%; 
    }
}

@mixin gridOffset {
    .col-offset-0 {
        margin-left: 0%; }
      
      .col-offset-1 {
        margin-left: 8.33%; }
      
      .col-offset-2 {
        margin-left: 16.66%; }
      
      .col-offset-3 {
        margin-left: 25%; }
      
      .col-offset-4 {
        margin-left: 33.33%; }
      
      .col-offset-5 {
        margin-left: 41.66%; }
      
      .col-offset-6 {
        margin-left: 50%; }
      
      .col-offset-7 {
        margin-left: 58.33%; }
      
      .col-offset-8 {
        margin-left: 66.66%; }
      
      .col-offset-9 {
        margin-left: 75%; }
      
      .col-offset-10 {
        margin-left: 83.33%; }
      
      .col-offset-11 {
        margin-left: 91.66%; }
}