@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin navigation($display) {
    display: $display;
    font-size: 1.8rem;
    margin: 0rem 4rem;
    padding-bottom: .8rem;
    color: $color-white;
    cursor: pointer;
    text-decoration: none;
}

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media(max-width: 37.5rem) {
            @content;
        }
    }
    @if $breakpoint == tab-port {
        @media(max-width: 56.25rem) {
            @content;
        }
    }
    @if $breakpoint == tab-land {
        @media(max-width: 74.25rem) {
            @content;
        }
    }
    @if $breakpoint == big-deskt {
        @media(min-width: 80rem) {
            @content;
        }
    }
};
