//GRID SETUP
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//
$white: #FFF;
$gray: #D1DBBD;
$navy-blue: #2955D9;
$blue: #3068D9;
$light-blue: #82B8D9;
$color-black: #000;
$color-white: #FFF;
$color-orange: #F2433D;
$color-gray: #383737;
$light-red: #DE525E;
$light-yellow: #F1C40F;
$light-green: #48AC2D;