.card {
    perspective: 150rem;
    -moz-perspective: 150rem; 
    position: relative;
    height: 50rem;
    cursor: pointer;
    &__side {
        position: absolute;
        top: 0;
        left: 0;
        height: 50rem;
        transition: all .8s ease;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0rem 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;
    &--front {
        &-1 {
            color: $light-red;
        }
        &-2 {
            color: $light-yellow;
        }
        &-3 {
            color: $light-green;
        }
    }
    &--back {
        transform: rotateY(180deg);
        &-1 {
            background-image: linear-gradient(to right, #F00d, #01d);
            }

        &-2 {
            background-image: linear-gradient(to right, #F00d, #01d);
            }

        &-3 {
            background-image: linear-gradient(to right, #F00d, #01d);
            }
        }
    }    

    &__picture {
        background-size: cover;
        height: 33rem;
        -webki-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        &--1 {
            background-image: url('../images/smoking-img-3.png');

        }
        &--2 {
            background-image: url('../images/icon-note-6.jpg');
            background-color: #F39C12;

        }
        &--3 {
            background-image: url('../images/smog-icon-3.png');
            background-color: #48B02C;

        }
    }
    
    &:hover &__side--front {
        @include respond(big-deskt) {
            transform: rotateY(180deg);   
        }         
    }
    &:hover .layer {
        @include respond(tab-port) {
            visibility: visible;
            background: rgba(0,0,0,0.5);
        }
    } 
    &:hover &__side--back {
        @include respond(big-deskt) {
        transform: rotateY(360deg); 
        }  
    }
    &__heading {
        &-span {
            &--1 {
                //background-image: linear-gradient(to right, rgba(179, 74, 70, 0.521), rgba(128, 15, 15, 0.384));
            }
        }
    }
    
}

.layer {
    @include respond(tab-port) {
    transition: all .8s ease-in-out;
    visibility: hidden;
    height: inherit;
    }
    @include respond(big-deskt) {
        display: none;
    }
    &__links {
        height: inherit;
        display: block;
        padding: 13rem 0;
        & a {
            margin: 2rem;
        }
    }
}