.card {
    perspective: 150rem;
    -moz-perspective: 150rem; 
    position: relative;
    height: 50rem;
    cursor: pointer;
    &__side {
        @include respond(tab-land) {
            width: 100%;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50rem;
        transition: all .8s ease;
        width: 65%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0rem 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;
    &--front {
        &-1 {
            color: $light-red;
        }
        &-2 {
            color: $light-yellow
        }
    }
    &--back {
        transform: translate(-50%, -50%) rotateY(180deg);
        &-1 {
            background: $color-orange;
        }
        &-2 {
            background: $light-yellow;
        }
    }
}    

    &__picture {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 33rem;
        -webki-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        &--1 {
            background-image: url('../images/smoking-img-10.jpg');

        }
        &--2 {
            background-image: url('../images/hd.png');
            background-color: $light-yellow;

        }
    }

    &-back {
        height: 100%;
        position: relative;
        &__links {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &__link {
            padding: 0 2rem;
            font-size: 2rem;    
            color: $white;
            text-decoration: none;;
        }
    }
    
    &:hover &__side--front {
        @include respond(big-deskt) {
            transform: translate(-50%, -50%) rotateY(180deg);   
        }         
    }
    &:hover .layer {
        @include respond(tab-land) {
            visibility: visible;
            background: rgba(0,0,0,0.5);
        }
        @include respond(tab-port) {
            visibility: visible;
            background: rgba(0,0,0,0.5);
        }
    } 
    &:hover &__side--back {
        @include respond(big-deskt) {
        transform: translate(-50%, -50%) rotateY(360deg); 
        }  
    }   
}
