.card {
    perspective: 150rem;
    -moz-perspective: 150rem; 
    position: relative;
    height: 50rem;
    cursor: pointer;
    @include respond(phone) {
        height: auto;
    }
    &__side {
        position: absolute;
        top: 0;
        left: 0;
        height: 50rem;
        transition: all .8s ease;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0rem 1.5rem 4rem rgba($color-black, .15);
        overflow: hidden;
        @include respond(phone) {
            height: auto;
            position: relative;
            box-shadow: none;
        }
    &--front {
        &-1 {
            color: $light-red;
        }
        &-2 {
            color: $light-yellow;
        }
        &-3 {
            color: $light-green;
        }
    }
    &--back {
        transform: rotateY(180deg);
        @include respond(phone) {
            transform: none;
        }

        &-1 {
            background-image: linear-gradient(to right, #F00d, #01d);
            }

        &-2 {
            background-image: linear-gradient(to right, #F00d, #01d);
            }

        &-3 {
            background-image: linear-gradient(to right, #F00d, #01d);
            }
        }
    }    

    &__picture {
        background-size: cover;
        height: 33rem;
        -webki-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
        &--1 {
            background-image: url('../images/smoking-img-3.png');

        }
        &--2 {
            background-image: url('../images/icon-note-6.jpg');
            background-color: #F39C12;

        }
        &--3 {
            background-image: url('../images/smog-icon-3.png');
            background-color: #48B02C;

        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }
    &:hover &__side--back {
        transform: rotateY(360deg);
    }

    &__heading {
        &-span {
            &--1 {
                //background-image: linear-gradient(to right, rgba(179, 74, 70, 0.521), rgba(128, 15, 15, 0.384));
            }
        }
    }
    
}