
*,
*::after,
*:before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    @include respond(tab-land) {
        font-size: 60%;
    }
    @include respond(tab-port) {
        font-size: 55%;
    }
    @include respond(phone) {
        font-size: 50%;
    }
    @include respond(big-deskt) {
        font-size: 70%;
    }
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Nunito Sans';
}