//SECTION TYPHOGRAPHY
.primary-heading {
    font-size: 4rem;
    font-weight: 600;
    display: block;
    letter-spacing: .5rem;
}

.secondary-heading {
    font-size: 3rem;
    font-weight: 400;
    display: block;
    letter-spacing: .3rem;
    padding: 6rem 0;
    text-transform: uppercase;
}

.simple-text {
    font-size: 2rem;
    display: block;
    letter-spacing: .1rem;
    text-align: left;
    @include respond(tab-port) {
        text-align: center;
    }
}



//CARDS TYPHOGRAPGY
.card__heading--primary {
    font-size: 2rem;
    font-weight: 600;
    display: block;
    letter-spacing: .1rem;
}

.card__description {
    font-size: 1.3rem;
    display: block;
}